img{
    height: 100%;
    width: 100%
    
}

.row{
        display: flex;
        height: 400px;
        gap: 5px;
        margin-bottom: 5px ;
}

.row > div{
    flex: 1;
}


.twoimage img{
    height:  calc( (100% - 5px)/2 );
}

.college{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

@media screen and (max-width:  576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .college{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    
}

footer {
    text-align: center;
    margin: 2px;
    font: bold;
}
